<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - Spovest</title>
    <!--favicon for this document-->
    <!--favicon for this document-->
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <!--bootstrap 5 minified css source-->
    <link rel="stylesheet" href="~/css/vendor/bootstrap.min.css">
    <!--owl carousel-2.3.4 minified css source-->
    <link rel="stylesheet" href="~/css/vendor/owl.carousel.min.css">
    <!--owl carousel-2.3.4 theme default minified css source-->
    <link rel="stylesheet" href="~/css/vendor/owl.theme.default.min.css">
    <!--jquery nice select css source-->
    <link rel="stylesheet" href="~/css/vendor/nice-select.css">
    <!--animate css source-->
    <link rel="stylesheet" href="~/css/vendor/animate.css">
    <!--custom css source-->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/price-updates.css">
    <link rel="stylesheet" href="~/css/button.css">


</head>

<body class="dark">


    <div class="page_wrapper">
        @Html.Partial("LeftSideBar")
        <div class="body_content">
			@Html.Partial("HeaderForMain")
            <div class="container-fluid main_content">
                <div class="row d-flex flex-wrap">
					@RenderBody()
                    @Html.Partial("RightSideBar")
                </div>
                @Html.Partial("FooterForMain")
            </div>
        </div>
        @Html.Partial("_TradeModal")
    </div>

    <!--===scroll bottom to top===-->
    <a href="#" class="scrollToTop"><i class="flaticon-up-chevron">^</i></a>
    <!--jquery-3.6.0 minified source-->
    <script src="~/js/vendor/jquery-3.6.0.min.js"></script>
    <!--bootstrap 5 minified bundle js source-->
    <script src="~/js/vendor/bootstrap.bundle.min.js"></script>
    <!--owl carousel-2.3.4 minified js source-->
    <script src="~/js/vendor/owl.carousel.min.js"></script>
    <!--jquery waypoints minified source-->
    <script src="~/js/vendor/jquery.waypoints.min.js"></script>
    <!--magnific popup-1.1.0 minified js source-->
    <script src="~/js/vendor/magnific-popup.js"></script>
    <!--jquery nice select js source-->
    <script src="~/js/vendor/jquery.nice-select.min.js"></script>
    <!--wow js source-->
    <script src="~/js/vendor/wow.min.js"></script>
    <!--custom js source-->
    <script src="~/js/main.js"></script>
    <!--SignalR and related scripts-->
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/subscribe_update.js"></script>
    <script src="~/js/baltest.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
