@model Spovest.Models.Main.MainViewModel
@using Spovest.Helpers
<!--left sidebar-->
<div class="sidebar">
    <div class="brand_wrapper text-center d-flex align-items-center justify-content-around">
        @Html.ImageLink("Home", "Index", "Spovest Logo", "brand", "logo", "/images/Logo-dark-n.png")
        <div class="close_sidenav d-xxl-none" title="Close Side Bar">
            <i class="flaticon-back"></i>
        </div>
    </div>
    <div class="user_wrapper">
        <div class="profile_wrapper text-center">
            <div class="profile_content">
                <a href="#" class="profile">
                    <!--====small profile picture start====-->
                    <img src="@Model.CurrentUser.Img" alt="Profile Picture">
                    <!--====small profile picture end====-->
                </a>
            </div>
            <h5 class="text-center">
                <a href="#">@Model.CurrentUser.Name</a>
            </h5>
        </div>
        <div class="follow_wrapper d-flex align-items-center justify-content-around">
            <div class="follower d-flex align-items-center justify-content-between">
                <div class="icon">
                    <i class="flaticon-user-profile"></i>
                </div>
                <div class="amount">
                    <a href="#followers">@(Model.Followers?.Count() ?? 0)</a>
                    <p>FOLLOWERS</p>
                </div>
            </div>
            <div class="following d-flex align-items-center justify-content-between">
                <div class="icon">
                    <i class="flaticon-user-profile"></i>
                </div>
                <div class="amount">
                    <a href="#following">@(Model.Following?.Count() ?? 0)</a>
                    <p>FOLLOWING</p>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio_wrapper">
        <ul class="nav flex-column portfolio">
            <li class="nav-item">
                <a asp-controller="Main" asp-action="Profile" 
                   class="nav-link d-flex align-items-center @(ViewContext.RouteData.Values["Action"].ToString() == "Profile" ? "active" : "")">
                    <i class="flaticon-briefcase"></i> My Portfolio
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Main" asp-action="Blog"  asp-route-id="@Model.CurrentUser.UserId"
                   class="nav-link d-flex align-items-center @(ViewContext.RouteData.Values["Action"].ToString() == "Blog" ? "active" : "")">
                    <i class="flaticon-user"></i> About
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Main" asp-action="Users" 
                   class="nav-link d-flex align-items-center @(ViewContext.RouteData.Values["Action"].ToString() == "Users" ? "active" : "")">
                    <i class="flaticon-user-profile"></i> Users
                </a>
            </li>
        </ul>
    </div>
    <div class="trading_wrapper">
        <h5 style="color: black;">Trading</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a asp-controller="Main" asp-action="NBA" 
                   class="nav-link d-flex align-items-center @(ViewContext.RouteData.Values["Action"].ToString() == "NBA" ? "active" : "")">
                    <i class="flaticon-basketball-ball-variant"></i> NBA
                </a>
            </li>
        </ul>
    </div>
</div>
<!--left sidebar-->