@model Spovest.Models.Main.MainViewModel
@{
    ViewData["Title"] = "Blog";
    Layout = "_MainLayout";
}

<div class="col-xl-9 d-flex flex-column">
    <div class="inner_left">
        <div class="cover_img d-flex align-items-end align-items-md-end" style="background-image: url('/images/user/illustration.png');">
            <div class="profile_lg_wrapper d-flex align-items-center align-items-md-end">
                <div class="profile_content d-flex align-items-center justify-content-center">
                    <a href="#">
                        <img src="~/images/user/profile_lg.png" alt="Profile Picture">
                    </a>
                </div>
                <div class="profile_info">
                    <p>@Model.User.Country</p>
                    <a href="#">@Model.User.Name</a>
                </div>
            </div>
        </div>
        <div class="profile_info_wrapper">
            <div class="row tag_icon_wrapper d-flex align-items-center justify-content-between">

                <div class="col-sm-5 follow_wrapper d-flex align-items-center justify-content-between justify-content-sm-around">
                    <div class="follower d-flex align-items-center justify-content-between">
                        <div class="icon">
                            <i class="flaticon-user-profile"></i>
                        </div>
                        <div class="amount">
                            <a href="#followers">@(Model.Followers?.Count() ?? 0)</a>
                            <p>FOLLOWERS</p>
                        </div>
                    </div>
                    <div class="following d-flex align-items-center justify-content-between">
                        <div class="icon">
                            <i class="flaticon-user-profile"></i>
                        </div>
                        <div class="amount">
                            <a href="#following">@(Model.Following?.Count() ?? 0)</a>
                            <p>FOLLOWING</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab_wrapper">
            <div class="row tab_btn_row d-flex align-items-center justify-content-between">
                <div class="tab_btn_wrapper col-sm-8 order-last order-sm-first text-center text-sm-start">
                    <button class="btn tab_btn active" data-tab="about">About</button>
                    <button class="btn tab_btn" data-tab="followers">Followers</button>
                    <button class="btn tab_btn" data-tab="following">Following</button>
                </div>
                
            </div>

            @{
                foreach (var post in Model.Posts)
                {
                    <div id="about" class="profile_tab active">
                        <h3>| @post.Title</h3>
                        <p class="para">@post.Content</p>
                        @if (post.Img != null)
                        {
                            <img src="@post.Img" />
                        }
                    </div>
                }
            }

            <div id="followers" class="profile_tab">
                <div class="row followers_row_first">
                    @{
                        foreach (var follower in Model.Followers)
                        {
                            <div class="col-lg-6">
                                <div class="left_col">
                                    <div class="d-sm-flex align-items-center justify-content-around">
                                        <div class="friends_wrapper d-sm-flex align-items-center justify-content-between">
                                            <div class="profile_wrapper">
                                                <div class="profile_content">
                                                    <a asp-controller="Main" asp-action="Blog" asp-route-id="@follower.UserId" class="profile">
                                                        <img src="@follower.Img" alt="Profile Picture">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="info_wrapper text-center text-sm-start">
                                                <a asp-controller="Main" asp-action="Blog" asp-route-id="@follower.UserId" class="name">@follower.Name</a>
                                            </div>
                                        </div>
                                        <div class="follow_wrapper text-center text-sm-start">
                                            @{
                                                if (Model.Followers.Any(x => x.UserId == Model.CurrentUser.UserId))
                                                {
                                                    <a asp-controller="Main" asp-action="Profile" class="btn btn-primary2"> Это же вы</a>
                                                }
                                                else if (Model.Following.Any(x => x.UserId == follower.UserId))
                                                {
													<button class="btn btn-primary3 subscribe-btn"
													    data-user-id="@follower.UserId"
													    data-action="unsubscribe">
														Unfollow
													</button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-primary2 subscribe-btn"
                                                    data-user-id="@follower.UserId"
                                                    data-action="subscribe">
                                                        Follow
                                                    </button>
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

            <div id="following" class="profile_tab">
                <div class="row followers_row_first">
                    @{
                        foreach (var following in Model.Following)
                        {
                            <div class="col-lg-6">
                                <div class="left_col">
                                    <div class="d-sm-flex align-items-center justify-content-around">
                                        <div class="friends_wrapper d-sm-flex align-items-center justify-content-between">
                                            <div class="profile_wrapper">
                                                <div class="profile_content">
                                                    <a asp-controller="Main" asp-action="Blog" asp-route-id="@following.UserId" class="profile">
                                                        <img src="@following.Img" alt="Profile Picture">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="info_wrapper text-center text-sm-start">
                                                <a asp-controller="Main" asp-action="Blog" asp-route-id="@following.UserId" class="name">@following.Name</a>
                                            </div>
                                        </div>
                                        <div class="follow_wrapper text-center text-sm-start">
                                            @{
                                                if (Model.Following.Any(x => x.UserId == Model.CurrentUser.UserId))
                                                {
                                                    <a asp-controller="Main" asp-action="Profile" class="btn btn-primary2"> Это же вы</a>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-primary3 subscribe-btn"
                                                        data-user-id="@following.UserId"
                                                        data-action="unsubscribe">
                                                        Unfollow
                                                    </button> 
                                                }
                                            }
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/vendor/jquery-3.6.0.min.js"></script>
<!--bootstrap 5 minified bundle js source-->
<script src="~/js/vendor/bootstrap.bundle.min.js"></script>
<!--owl carousel-2.3.4 minified js source-->
<script src="~/js/vendor/owl.carousel.min.js"></script>
<!--jquery waypoints minified source-->
<script src="~/js/vendor/jquery.waypoints.min.js"></script>
<!--magnific popup-1.1.0 minified source-->
<script src="~/js/vendor/jquery.magnific-popup.min.js"></script>
<!--counter up-1.0.0 minified js source-->
<script src="~/js/vendor/jquery.counterup.min.js"></script>
<!--jquery nice select minified source-->
<script src="~/js/vendor/jquery.nice-select.min.js"></script>
<!--apexs chart minified js source-->
<script src="~/js/vendor/apexcharts.min.js"></script>
<!--apex chart customization js source-->
<script src="~/js/vendor/apex-customization.js"></script>
<!--wow animation js source-->
<script src="~/js/vendor/wow.min.js"></script>
<!--custom js source-->
<script src="~/js/main.js"></script>

@section Scripts {
	<script src="~/js/blog.js"></script>
    <script src="~/js/subscribe_actions.js"></script>
	<script src="~/js/user_search.js"></script>
}