@model Spovest.Models.Main.MainViewModel
@{
    ViewData["Title"] = "NBA";
    Layout = "_MainLayout";
}

<div class="col-xl-9 d-flex flex-column">
    <div class="inner_left">
        <div class="league_cover_wrapper">
            <div class="league_info" style="background-image: url('/images/league/cover_img.png');">
                <p>Trading</p>
                <h1 class="name">NBA Players</h1>
            </div>

            <!-- Tabs -->
            <div class="players_tab_wrapper">

                <!-- Search Form -->
                <div class="player_search_tab_wrapper">
                    <form asp-action="NBA" method="get">
                        <input type="text" class="form-control" aria-describedby="playerSearch" name="search" id="playerSearch" placeholder="Search Players" value="@Context.Request.Query["search"]">
                        <button type="submit" class="btn btn-primary d-flex align-items-center">
                            <i class="fab fa-sistrix"></i> Search
                        </button>
                    </form>
                </div>

                <!-- Tab: Best -->
                <div id="best" class="player_search_tabs activ">
                    <div class="players_responsive_table_wrapper">
                        <table class="table">
                            @foreach (var player in Model.Players)
                            {
                                <tr>
                                    <td class="profile_info">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class="wrapper">
                                                <a href="@Url.Action("Player", new { id = player.Id })" class="d-flex align-items-end justify-content-center">
                                                    <img src="@player.Img" alt="@player.Name">
                                                </a>
                                            </div>
                                            <div class="player_name">
                                                <a href="@Url.Action("Player", new { id = player.Id })">@player.Name</a>
                                                <p>@player.TeamName</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="price_range">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <div class="price">
                                                @{
                                                    var prices = Model.Prices
                                                    .Where(p => p.PlayerId == player.Id)
                                                    .ToList();
                                                    decimal? change;
                                                    decimal? price = 0;
                                                    decimal? salePrice = 0;
                                                    decimal? prevPrice = 0;

                                                    if (prices.Count >= 2)
                                                    {
                                                        price = prices.Last().Purchase_price;
                                                        salePrice = prices.Last().Sale_price;
                                                        prevPrice = prices[prices.Count - 2].Purchase_price;
                                                        change = price - prevPrice;
                                                    }
                                                    else if (prices.Count == 1)
                                                    {
                                                        price = prices[0].Purchase_price;
                                                        salePrice = prices[0].Sale_price;
                                                        change = 0;
                                                    }
                                                    else
                                                    {
                                                        price = 0;
                                                        salePrice = 0;
                                                        change = 0;
                                                    }

                                                    <p>
                                                        Buy: <i class="fas fa-dollar-sign"></i>
                                                        <span data-player-id="@player.Id" data-price-type="purchase">@price</span>
                                                    </p>
													if (change >= 0)
													{
														<p><span data-player-id="@player.Id" data-price-type="sale">@change</span><i class="fas fa-caret-up"></i></p>
													}
													else
													{
														<p style="color:red"><span data-player-id="@player.Id" data-price-type="sale">@change</span><i class="fas fa-caret-down"></i></p>
													}
                                                    <p>
                                                        Sell: <i class="fas fa-dollar-sign"></i>
                                                        <span data-player-id="@player.Id" data-price-type="sale-price">@salePrice</span>
                                                    </p>
                                                    
                                                }
                                            </div>
                                        </div>
                                    </td>
                                    <td class="sell_buy">
                                        <div class="btn_wrapper d-flex align-items-center justify-content-end">
                                            <button class="btn btn-primary trade-btn" 
                                                    data-player-id="@player.Id" 
                                                    data-player-name="@player.Name"
                                                    data-player-price="@price"
                                                    data-user-balance="@Model.Balance"
                                                    data-shares="@(Model.CartItems?.FirstOrDefault(c => c.PlayerId == player.Id)?.Quantity ?? 0)"
                                                    data-action="sell">SELL</button>
                                            <button class="btn btn-primary trade-btn" 
                                                    data-player-id="@player.Id" 
                                                    data-player-name="@player.Name"
                                                    data-player-price="@price"
                                                    data-user-balance="@Model.Balance"
                                                    data-shares="@(Model.CartItems?.FirstOrDefault(c => c.PlayerId == player.Id)?.Quantity ?? 0)"
                                                    data-action="buy">BUY</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <!-- Pagination -->
                    <div class="show_wrapper text-center mt-3">
                        <nav>
                            <ul class="pagination justify-content-center">
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                                        <a class="page-link mx-3" href="@Url.Action("NBA", new { page = i, search = Context.Request.Query["search"] })">@i</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/priceUpdates.js"></script>
    <script src="~/js/trade-modal.js"></script>
}

<!--main content-->
<!--page wrapper end-->
<!--jquery-3.6.0 minified source-->
<script src="~/js/vendor/jquery-3.6.0.min.js"></script>
<!--bootstrap 5 minified bundle js source-->
<script src="~/js/vendor/bootstrap.bundle.min.js"></script>
<!--owl carousel-2.3.4 minified js source-->
<script src="~/js/vendor/owl.carousel.min.js"></script>
<!--jquery waypoints minified source-->
<script src="~/js/vendor/jquery.waypoints.min.js"></script>
<!--magnific popup-1.1.0 minified source-->
<script src="~/js/vendor/jquery.magnific-popup.min.js"></script>
<!--counter up-1.0.0 minified js source-->
<script src="~/js/vendor/jquery.counterup.min.js"></script>
<!--jquery nice select minified source-->
<script src="~/js/vendor/jquery.nice-select.min.js"></script>
<!--apexs chart minified js source-->
<script src="~/js/vendor/apexcharts.min.js"></script>
<!--apex chart customization js source-->
<script src="~/js/vendor/apex-customization.js"></script>
<!--wow animation js source-->
<script src="~/js/vendor/wow.min.js"></script>
<!--custom js source-->
<script src="~/js/main.js"></script>