@model Spovest.Models.Main.MainViewModel
@{
    ViewData["Title"] = "Player";
}

@{
    Layout = "_MainLayout";
}


<div class="col-xl-9 d-flex flex-column">
    <div class="inner_left">
        <div class="profile_cover_wrapper">
            <div class="cover_wrapper d-flex align-items-end" style="background-image: url('/images/profile/profile_bg.png');">
                <div class="profile_wrapper d-flex align-items-center align-items-md-start">
                    <div class="img_wrapper">
                        <a href="#">
                            <img src="@Model.Player.Img" alt="Profile Picture" style="background-color: white; border: solid 5px #ffc600">
                        </a>
                    </div>
                    <div class="info_wrapper">
                        <a href="league.html">@Model.Player.Name</a>
                        <p>@Model.Player.TeamName</p>
                    </div>
                </div>
            </div>
            <div class="price_info_wrapper">
                <div class="hst">
                    @{
                        var prices = Model.Prices
                            .Where(p => p.PlayerId == Model.Player.Id)
                            .ToList();
                        var shares = Model.CartItems?.FirstOrDefault(c => c.PlayerId == Model.Player.Id)?.Quantity ?? 0;
                        var curPurchasePrice = prices.Last().Purchase_price;
                        var curSalePrice = prices.Last().Sale_price;
                        var total_price = curSalePrice * shares;
                    }
                    <div class="row d-flex align-items-center">
                        <div class="col-sm text-center text-md-start shares">
                            <h4><i class="fas fa-dollar-sign"></i> $<span data-player-id="@Model.Player.Id" data-price-type="total">@total_price</span> <span>(@shares Shares)</span></h4>
                            <p>Total Value</p>
                        </div>
                        <div class="col-sm text-center price">
                            <h4><i class="fas fa-dollar-sign"></i> $<span data-player-id="@Model.Player.Id" data-price-type="purchase">@curPurchasePrice</span></h4>
                            <p>Current Price</p>
                        </div>
                        <div class="col-sm text-center btns">
                            <button class="btn btn-primary trade-btn" 
                                    data-player-id="@Model.Player.Id" 
                                    data-player-name="@Model.Player.Name"
                                    data-player-price="@curPurchasePrice"
                                    data-user-balance="@Model.Balance"
                                    data-shares="@shares"
                                    data-action="sell">Sell</button>
                            <button class="btn btn-primary trade-btn" 
                                    data-player-id="@Model.Player.Id" 
                                    data-player-name="@Model.Player.Name"
                                    data-player-price="@curPurchasePrice"
                                    data-user-balance="@Model.Balance"
                                    data-shares="@shares"
                                    data-action="buy">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="labels_wrapper">
                <div class="row">
                    <div class="col-4 col-sm-3 col-md text-center">
                        <p class="number">@Model.Player.Games</p>
                        <p class="name">Games</p>
                    </div>
                    <div class="col-4 col-sm-3 col-md text-center">
                        <p class="number">@Model.Player.Points</p>
                        <p class="name">Points</p>
                    </div>
                    <div class="col-4 col-sm-3 col-md text-center">
                        <p class="number">@Model.Player.Assists</p>
                        <p class="name">Assists</p>
                    </div>
                    <div class="col-4 col-sm-3 col-md text-center">
                        <p class="number">@Model.Player.Rebounds</p>
                        <p class="name">Rebounds</p>
                    </div>
                    <div class="col-4 col-sm-3 col-md text-center">
                        <p class="number">@Model.Player.Steals</p>
                        <p class="name">Steals</p>
                    </div>
                    <div class="col-4 col-sm-3 col-md text-center">
                        <p class="number">@Model.Player.Minutes</p>
                        <p class="name">Minutes</p>
                    </div>
                    <div class="col-4 col-sm-3 col-md text-center">
                        <p class="number">@Model.Player.Ftps</p>
                        <p class="name">Ftps</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="history_wrapper">
            <h3>Game History</h3>
            <div class="game_table_wrapper">
                <div class="table_responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Opponent</th>
                                <th>Points</th>
                                <th>Assists</th>
                                <th>Rebounds</th>
                                <th>Steals</th>
                                <th>Minutes</th>
                                <th>Ftps</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var team in Model.Teams.Where(x => x.Name != Model.Player.TeamName))
                                {
                                    <tr>
                                        <td class="teams">
                                            <div class="d-flex align-items-center">
                                                <div class="club">
                                                    <a asp-controller="Main" asp-action="NBA" asp-route-search="@team.Name">
                                                        <img src="@team.Img" alt="@team.Name">
                                                    </a>
                                                </div>
                                                <div class="club_name">
                                                    <p>@team.Name</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@Model.Player.Points</td>
                                        <td>@Model.Player.Assists</td>
                                        <td>@Model.Player.Rebounds</td>
                                        <td>@Model.Player.Steals</td>
                                        <td>@Model.Player.Minutes</td>
                                        <td>@Model.Player.Ftps</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--main content-->
<div id="modalContainer"></div>

@section Scripts {
    <script src="~/js/priceUpdates.js"></script>
    <script src="~/js/trade-modal.js"></script>
    <script src="~/js/player.js"></script>
}

<!--main content-->
<!--page wrapper end-->
<!--jquery-3.6.0 minified source-->
<script src="~/js/vendor/jquery-3.6.0.min.js"></script>
<!--bootstrap 5 minified bundle js source-->
<script src="~/js/vendor/bootstrap.bundle.min.js"></script>
<!--owl carousel-2.3.4 minified js source-->
<script src="~/js/vendor/owl.carousel.min.js"></script>
<!--jquery waypoints minified source-->
<script src="~/js/vendor/jquery.waypoints.min.js"></script>
<!--magnific popup-1.1.0 minified source-->
<script src="~/js/vendor/jquery.magnific-popup.min.js"></script>
<!--counter up-1.0.0 minified js source-->
<script src="~/js/vendor/jquery.counterup.min.js"></script>
<!--jquery nice select minified source-->
<script src="~/js/vendor/jquery.nice-select.min.js"></script>
<!--apexs chart minified js source-->
<script src="~/js/vendor/apexcharts.min.js"></script>
<!--apex chart customization js source-->
<script src="~/js/vendor/apex-customization.js"></script>
<!--wow animation js source-->
<script src="~/js/vendor/wow.min.js"></script>
<!--custom js source-->
<script src="~/js/main.js"></script>