@model Spovest.Areas.Admin.Models.Admin.AdminVM
@{
    ViewData["Title"] = "Admin";
    Layout = "_AdminLayout";
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row g-6">
        <!-- Total Balance -->
        <div class="col-12 col">
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between">
                    <div class="card-title mb-0">
                        <h5 class="mb-1">Общий баланс пользователей</h5>
                        <p class="card-subtitle">Общая сумма средств на счетах</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row align-items-center g-md-8">
                        <div class="col-12 col-md-5 d-flex flex-column">
                            <div class="d-flex gap-2 align-items-center mb-3 flex-wrap">
                                <!-- <h2 class="mb-0">@Model.Users.Sum(u => u.Balance).ToString("C2")</h2> -->
                            </div>
                        </div>
                        <div class="col-12">
                            <div id="totalBalanceChart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Total Balance -->

        <!-- Users Table -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Пользователи</h5>
                </div>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Имя</th>
                                <th>Email</th>
                                <th>Страна</th>
                                <th>Баланс</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users.OrderByDescending(u => u.Balance))
                            {
                                <tr>
                                    <td>@user.UserId</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="@user.Img" alt="Avatar" class="rounded-circle me-2" width="32" height="32">
                                            <span>@user.Name</span>
                                        </div>
                                    </td>
                                    <td>@user.Email</td>
                                    <td>@user.Country</td>
                                    <td>$@user.Balance.ToString("N2")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/ Users Table -->
        <!-- Users Table -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">История операций</h5>
                </div>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Имя пользователя</th>
                                <th>Тип операции</th>
                                <th>Стоимость операции</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var transaction in Model.Transactions)
                            {
                                <tr>
                                    <td>@transaction.Id</td>
                                    <td>@(Model.Users.FirstOrDefault(x => x.UserId == transaction.UserId)?.Name ?? "Неизвестный пользователь")</td>
                                    <td>@transaction.OperationType</td>
                                    <td>$@transaction.Cost.ToString("N2")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/ Users Table -->
    </div>
</div>
<!--/ Content -->

@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="~/js/admin-dashboard.js"></script>
    <script src="~/js/balanceUpdates.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var balanceHistoryData = @Html.Raw(Json.Serialize(Model.BalanceHistory));
            initTotalBalanceChart(balanceHistoryData);
        });
    </script>
}